-- MariaDB dump 10.19  Distrib 10.4.34-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: school_management
-- ------------------------------------------------------
-- Server version	10.4.34-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `academicyears`
--

DROP TABLE IF EXISTS `academicyears`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `academicyears` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `year_code` varchar(50) NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `status` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `year_code` (`year_code`),
  UNIQUE KEY `year_code_2` (`year_code`),
  UNIQUE KEY `year_code_3` (`year_code`),
  UNIQUE KEY `year_code_4` (`year_code`),
  UNIQUE KEY `year_code_5` (`year_code`),
  UNIQUE KEY `year_code_6` (`year_code`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `academicyears`
--

LOCK TABLES `academicyears` WRITE;
/*!40000 ALTER TABLE `academicyears` DISABLE KEYS */;
INSERT INTO `academicyears` VALUES (1,'2025-2026','2025-09-01','2026-06-30','upcoming'),(2,'2024-2025','2024-09-01','2025-06-30','finished'),(3,'2023-2024','2023-09-01','2024-06-30','finished');
/*!40000 ALTER TABLE `academicyears` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `activitivelog`
--

DROP TABLE IF EXISTS `activitivelog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activitivelog` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `account_id` varchar(100) NOT NULL,
  `name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activitivelog`
--

LOCK TABLES `activitivelog` WRITE;
/*!40000 ALTER TABLE `activitivelog` DISABLE KEYS */;
/*!40000 ALTER TABLE `activitivelog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `buildings`
--

DROP TABLE IF EXISTS `buildings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `buildings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `campus_id` int(11) NOT NULL,
  `name` varchar(255) NOT NULL,
  `floor_count` int(11) DEFAULT NULL,
  `code` varchar(50) NOT NULL,
  `location` varchar(255) DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  UNIQUE KEY `code_2` (`code`),
  UNIQUE KEY `code_3` (`code`),
  UNIQUE KEY `code_4` (`code`),
  UNIQUE KEY `code_5` (`code`),
  UNIQUE KEY `code_6` (`code`),
  KEY `campus_id` (`campus_id`),
  KEY `buildings_campus_id` (`campus_id`),
  CONSTRAINT `buildings_ibfk_1` FOREIGN KEY (`campus_id`) REFERENCES `campus` (`id`) ON DELETE NO ACTION ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `buildings`
--

LOCK TABLES `buildings` WRITE;
/*!40000 ALTER TABLE `buildings` DISABLE KEYS */;
INSERT INTO `buildings` VALUES (1,1,'Building 1',4,'HCM-B1',NULL,NULL),(2,1,'T├▓a nh├á A',5,'A','Khu A, gß║ºn cß╗òng ch├¡nh','active'),(3,1,'T├▓a nh├á B',7,'B','Khu B, trung t├óm','active'),(4,1,'T├▓a nh├á C',4,'C','Khu C, cuß╗æi khu├┤n vi├¬n','active');
/*!40000 ALTER TABLE `buildings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `campus`
--

DROP TABLE IF EXISTS `campus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `campus` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `code` varchar(50) NOT NULL,
  `status` varchar(50) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `location` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  UNIQUE KEY `code_2` (`code`),
  UNIQUE KEY `code_3` (`code`),
  UNIQUE KEY `code_4` (`code`),
  UNIQUE KEY `code_5` (`code`),
  UNIQUE KEY `code_6` (`code`),
  UNIQUE KEY `code_7` (`code`),
  UNIQUE KEY `code_8` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `campus`
--

LOCK TABLES `campus` WRITE;
/*!40000 ALTER TABLE `campus` DISABLE KEYS */;
INSERT INTO `campus` VALUES (1,'TpHCM','HCM',NULL,'TpHCM',NULL,'2025-11-09 10:39:29','2025-11-09 10:39:30');
/*!40000 ALTER TABLE `campus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `classes`
--

DROP TABLE IF EXISTS `classes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `classes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `training_type_id` int(11) NOT NULL,
  `faculty_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `training_type_id` (`training_type_id`),
  KEY `faculty_id` (`faculty_id`),
  KEY `classes_training_type_id` (`training_type_id`),
  KEY `classes_faculty_id` (`faculty_id`),
  CONSTRAINT `classes_ibfk_11` FOREIGN KEY (`training_type_id`) REFERENCES `trainingtypes` (`id`) ON DELETE NO ACTION ON UPDATE CASCADE,
  CONSTRAINT `classes_ibfk_12` FOREIGN KEY (`faculty_id`) REFERENCES `faculty` (`id`) ON DELETE NO ACTION ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classes`
--

LOCK TABLES `classes` WRITE;
/*!40000 ALTER TABLE `classes` DISABLE KEYS */;
INSERT INTO `classes` VALUES (1,'D21CQCN01-N',1,1),(2,'D21CQHT01-N',1,3),(4,'Lop',1,1);
/*!40000 ALTER TABLE `classes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `constraints`
--

DROP TABLE IF EXISTS `constraints`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `constraints` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `code` varchar(50) NOT NULL,
  `weight` int(11) NOT NULL DEFAULT 0,
  `type` enum('H','S') NOT NULL DEFAULT 'S',
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  UNIQUE KEY `code_2` (`code`),
  UNIQUE KEY `code_3` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `constraints`
--

LOCK TABLES `constraints` WRITE;
/*!40000 ALTER TABLE `constraints` DISABLE KEYS */;
/*!40000 ALTER TABLE `constraints` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `course_class_groups`
--

DROP TABLE IF EXISTS `course_class_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `course_class_groups` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `course_class_id` int(11) NOT NULL,
  `class_id` int(11) NOT NULL,
  `is_primary` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `course_class_groups_course_class_id` (`course_class_id`),
  KEY `course_class_groups_class_id` (`class_id`),
  CONSTRAINT `course_class_groups_ibfk_3` FOREIGN KEY (`course_class_id`) REFERENCES `courseclasses` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `course_class_groups_ibfk_4` FOREIGN KEY (`class_id`) REFERENCES `classes` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course_class_groups`
--

LOCK TABLES `course_class_groups` WRITE;
/*!40000 ALTER TABLE `course_class_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `course_class_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `courseclasses`
--

DROP TABLE IF EXISTS `courseclasses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `courseclasses` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `subject_id` int(11) NOT NULL,
  `semester_id` int(11) NOT NULL,
  `teacher_id` int(11) DEFAULT NULL,
  `slot` int(11) NOT NULL,
  `session_per_week` int(11) NOT NULL,
  `duration_per_session` int(11) NOT NULL,
  `total_enrollment` int(11) DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `subject_id` (`subject_id`),
  KEY `semester_id` (`semester_id`),
  KEY `teacher_id` (`teacher_id`),
  KEY `courseclasses_subject_id` (`subject_id`),
  KEY `courseclasses_semester_id` (`semester_id`),
  KEY `courseclasses_teacher_id` (`teacher_id`),
  CONSTRAINT `courseclasses_ibfk_451` FOREIGN KEY (`subject_id`) REFERENCES `subjects` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `courseclasses_ibfk_452` FOREIGN KEY (`semester_id`) REFERENCES `semesters` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `courseclasses_ibfk_453` FOREIGN KEY (`teacher_id`) REFERENCES `teachers` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `courseclasses`
--

LOCK TABLES `courseclasses` WRITE;
/*!40000 ALTER TABLE `courseclasses` DISABLE KEYS */;
INSERT INTO `courseclasses` VALUES (1,'IT',2,5,3,50,1,4,0),(2,'IT1',1,4,1,50,1,4,0),(3,'INT2',3,4,2,50,1,4,0),(4,'Toan cao cap',1,1,1,50,1,2,0);
/*!40000 ALTER TABLE `courseclasses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `days`
--

DROP TABLE IF EXISTS `days`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `days` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `idx` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `days`
--

LOCK TABLES `days` WRITE;
/*!40000 ALTER TABLE `days` DISABLE KEYS */;
INSERT INTO `days` VALUES (1,'Thß╗⌐ Hai',1),(2,'Thß╗⌐ Ba',2),(3,'Thß╗⌐ T╞░',3),(4,'Thß╗⌐ N─âm',4),(5,'Thß╗⌐ S├íu',6),(6,'Thß╗⌐ Bß║úy',7),(7,'Chß╗º Nhß║¡t',8);
/*!40000 ALTER TABLE `days` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `equipments`
--

DROP TABLE IF EXISTS `equipments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `equipments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `code` varchar(50) NOT NULL,
  `name` varchar(255) NOT NULL,
  `total` int(11) NOT NULL DEFAULT 0,
  `description` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  UNIQUE KEY `code_2` (`code`),
  UNIQUE KEY `code_3` (`code`),
  UNIQUE KEY `code_4` (`code`),
  UNIQUE KEY `code_5` (`code`),
  UNIQUE KEY `code_6` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipments`
--

LOCK TABLES `equipments` WRITE;
/*!40000 ALTER TABLE `equipments` DISABLE KEYS */;
INSERT INTO `equipments` VALUES (1,'MC_01','M├íy chiß║┐u',10,''),(2,'PC001','M├íy t├¡nh ─æß╗â b├án',50,'M├íy t├¡nh ─æa n─âng d├ánh cho sinh vi├¬n v├á gi├ío vi├¬n.'),(3,'PROJ01','M├íy chiß║┐u',10,'M├íy chiß║┐u ─æß╗Ö ph├ón giß║úi cao, gß║»n trß║ºn.'),(4,'WB001','Bß║úng trß║»ng t╞░╞íng t├íc',5,'Bß║úng trß║»ng kß╗╣ thuß║¡t sß╗æ c├│ khß║ú n─âng cß║úm ß╗⌐ng.'),(5,'MIC02','Micro kh├┤ng d├óy',20,'Bß╗Ö micro kh├┤ng d├óy cß║ºm tay cho giß║úng vi├¬n.'),(6,'AC005','M├íy lß║ính',15,'M├íy ─æiß╗üu h├▓a c├┤ng suß║Ñt lß╗¢n.'),(7,'101','M',10,'MO'),(8,'102','A',3,'MA'),(49,'103','M',10,'MO');
/*!40000 ALTER TABLE `equipments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `faculty`
--

DROP TABLE IF EXISTS `faculty`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `faculty` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `faculty_id` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `faculty_id` (`faculty_id`),
  UNIQUE KEY `faculty_id_2` (`faculty_id`),
  UNIQUE KEY `faculty_id_3` (`faculty_id`),
  UNIQUE KEY `faculty_id_4` (`faculty_id`),
  UNIQUE KEY `faculty_id_5` (`faculty_id`),
  UNIQUE KEY `faculty_id_6` (`faculty_id`),
  KEY `faculty_faculty_id` (`faculty_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `faculty`
--

LOCK TABLES `faculty` WRITE;
/*!40000 ALTER TABLE `faculty` DISABLE KEYS */;
INSERT INTO `faculty` VALUES (1,'C├┤ng nghß╗ç th├┤ng tin','CNTT'),(2,'Hß╗ç thß╗æng th├┤ng tin','HTTT'),(3,'Khoa hß╗ìc m├íy t├¡nh','KHMT'),(4,'Kß╗╣ thuß║¡t m├íy t├¡nh','KTMT'),(5,'Th╞░╞íng mß║íi ─æiß╗çn tß╗¡','TMDT');
/*!40000 ALTER TABLE `faculty` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `holidayactual`
--

DROP TABLE IF EXISTS `holidayactual`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `holidayactual` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `semester_id` int(11) NOT NULL,
  `rule_id` int(11) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `semester_id` (`semester_id`),
  KEY `rule_id` (`rule_id`),
  KEY `holidayactual_rule_id` (`rule_id`),
  KEY `holidayactual_semester_id` (`semester_id`),
  CONSTRAINT `holidayactual_ibfk_236` FOREIGN KEY (`semester_id`) REFERENCES `semesters` (`id`),
  CONSTRAINT `holidayactual_ibfk_237` FOREIGN KEY (`rule_id`) REFERENCES `holidayrule` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `holidayactual`
--

LOCK TABLES `holidayactual` WRITE;
/*!40000 ALTER TABLE `holidayactual` DISABLE KEYS */;
/*!40000 ALTER TABLE `holidayactual` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `holidayrule`
--

DROP TABLE IF EXISTS `holidayrule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `holidayrule` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `day_start` varchar(5) DEFAULT NULL,
  `day_end` varchar(5) DEFAULT NULL,
  `is_lunar` tinyint(1) DEFAULT 0,
  `recurring` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `holidayrule`
--

LOCK TABLES `holidayrule` WRITE;
/*!40000 ALTER TABLE `holidayrule` DISABLE KEYS */;
INSERT INTO `holidayrule` VALUES (1,'Tß║┐t Nguy├¬n ─É├ín','Nghß╗ë Tß║┐t ├óm lß╗ïch','01-01','01-03',1,1),(2,'Giß╗ù Tß╗ò H├╣ng V╞░╞íng','Giß╗ù Tß╗ò - nghß╗ë lß╗à','04-10','04-10',0,1),(3,'Ng├áy Giß║úi ph├│ng miß╗ün Nam','30/4 - thß╗æng nhß║Ñt ─æß║Ñt n╞░ß╗¢c','30-04','30-04',0,1),(4,'Quß╗æc tß║┐ Lao ─æß╗Öng','Ng├áy Quß╗æc tß║┐ Lao ─æß╗Öng','01-05','01-05',0,1),(5,'Quß╗æc kh├ính','Ng├áy Quß╗æc kh├ính 2/9','02-09','02-09',0,1),(6,'Ng├áy Quß╗æc tß║┐ Thiß║┐u nhi','Nghß╗ë lß╗à thiß║┐u nhi (t├╣y ch├¡nh s├ích tr╞░ß╗¥ng)','01-06','01-06',0,1);
/*!40000 ALTER TABLE `holidayrule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `instructorsunavailabletime`
--

DROP TABLE IF EXISTS `instructorsunavailabletime`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `instructorsunavailabletime` (
  `day_id` int(11) NOT NULL,
  `teacher_id` int(11) NOT NULL,
  `time_slot_id` int(11) NOT NULL,
  PRIMARY KEY (`day_id`,`teacher_id`,`time_slot_id`),
  KEY `teacher_id` (`teacher_id`),
  KEY `time_slot_id` (`time_slot_id`),
  CONSTRAINT `instructorsunavailabletime_ibfk_1` FOREIGN KEY (`day_id`) REFERENCES `days` (`id`) ON DELETE CASCADE,
  CONSTRAINT `instructorsunavailabletime_ibfk_2` FOREIGN KEY (`teacher_id`) REFERENCES `teachers` (`id`) ON DELETE CASCADE,
  CONSTRAINT `instructorsunavailabletime_ibfk_3` FOREIGN KEY (`time_slot_id`) REFERENCES `timeslots` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `instructorsunavailabletime`
--

LOCK TABLES `instructorsunavailabletime` WRITE;
/*!40000 ALTER TABLE `instructorsunavailabletime` DISABLE KEYS */;
/*!40000 ALTER TABLE `instructorsunavailabletime` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rooms`
--

DROP TABLE IF EXISTS `rooms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rooms` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `code` varchar(50) NOT NULL,
  `name` varchar(255) NOT NULL,
  `type` varchar(100) DEFAULT NULL,
  `capacity_max` int(11) DEFAULT NULL,
  `capacity_optimal` int(11) DEFAULT NULL,
  `floor_number` int(11) DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  `buildings_id` int(11) NOT NULL,
  `metadata` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`metadata`)),
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  UNIQUE KEY `code_2` (`code`),
  UNIQUE KEY `code_3` (`code`),
  UNIQUE KEY `code_4` (`code`),
  UNIQUE KEY `code_5` (`code`),
  UNIQUE KEY `code_6` (`code`),
  UNIQUE KEY `code_7` (`code`),
  UNIQUE KEY `code_8` (`code`),
  KEY `buildings_id` (`buildings_id`),
  KEY `rooms_buildings_id` (`buildings_id`),
  CONSTRAINT `rooms_ibfk_1` FOREIGN KEY (`buildings_id`) REFERENCES `buildings` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rooms`
--

LOCK TABLES `rooms` WRITE;
/*!40000 ALTER TABLE `rooms` DISABLE KEYS */;
/*!40000 ALTER TABLE `rooms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roomsequipments`
--

DROP TABLE IF EXISTS `roomsequipments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roomsequipments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `equipment_id` int(11) NOT NULL,
  `room_id` int(11) NOT NULL,
  `status` varchar(50) DEFAULT NULL,
  `equipment_quantity` int(11) DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `equipment_id` (`equipment_id`),
  KEY `room_id` (`room_id`),
  KEY `roomsequipments_equipment_id` (`equipment_id`),
  KEY `roomsequipments_room_id` (`room_id`),
  CONSTRAINT `roomsequipments_ibfk_11` FOREIGN KEY (`equipment_id`) REFERENCES `equipments` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `roomsequipments_ibfk_12` FOREIGN KEY (`room_id`) REFERENCES `rooms` (`id`) ON DELETE NO ACTION ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roomsequipments`
--

LOCK TABLES `roomsequipments` WRITE;
/*!40000 ALTER TABLE `roomsequipments` DISABLE KEYS */;
/*!40000 ALTER TABLE `roomsequipments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule_change_requests`
--

DROP TABLE IF EXISTS `schedule_change_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `schedule_change_requests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `schedule_instance_id` int(11) NOT NULL COMMENT 'FK to schedule_instances',
  `request_type` enum('room_change','time_change','teacher_change','cancellation') NOT NULL,
  `status` enum('pending','under_review','approved','rejected','applied','cancelled') NOT NULL DEFAULT 'pending',
  `requested_by_user_id` int(11) NOT NULL,
  `requested_by_role` varchar(255) NOT NULL,
  `reason` text DEFAULT NULL,
  `old_room_id` int(11) DEFAULT NULL,
  `old_time_slot_id` int(11) DEFAULT NULL,
  `old_date` date DEFAULT NULL,
  `old_teacher_id` int(11) DEFAULT NULL,
  `new_room_id` int(11) DEFAULT NULL,
  `new_time_slot_id` int(11) DEFAULT NULL,
  `new_date` date DEFAULT NULL,
  `new_teacher_id` int(11) DEFAULT NULL,
  `change_from_date` date DEFAULT NULL,
  `change_to_date` date DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `schedule_instance_id` (`schedule_instance_id`),
  KEY `requested_by_user_id` (`requested_by_user_id`),
  KEY `old_room_id` (`old_room_id`),
  KEY `old_time_slot_id` (`old_time_slot_id`),
  KEY `old_teacher_id` (`old_teacher_id`),
  KEY `new_room_id` (`new_room_id`),
  KEY `new_time_slot_id` (`new_time_slot_id`),
  KEY `new_teacher_id` (`new_teacher_id`),
  CONSTRAINT `schedule_change_requests_ibfk_1` FOREIGN KEY (`schedule_instance_id`) REFERENCES `schedule_instances` (`id`) ON DELETE NO ACTION ON UPDATE CASCADE,
  CONSTRAINT `schedule_change_requests_ibfk_2` FOREIGN KEY (`requested_by_user_id`) REFERENCES `users` (`id`) ON DELETE NO ACTION ON UPDATE CASCADE,
  CONSTRAINT `schedule_change_requests_ibfk_3` FOREIGN KEY (`old_room_id`) REFERENCES `rooms` (`id`) ON DELETE NO ACTION ON UPDATE CASCADE,
  CONSTRAINT `schedule_change_requests_ibfk_4` FOREIGN KEY (`old_time_slot_id`) REFERENCES `timeslots` (`id`) ON DELETE NO ACTION ON UPDATE CASCADE,
  CONSTRAINT `schedule_change_requests_ibfk_5` FOREIGN KEY (`old_teacher_id`) REFERENCES `teachers` (`id`) ON DELETE NO ACTION ON UPDATE CASCADE,
  CONSTRAINT `schedule_change_requests_ibfk_6` FOREIGN KEY (`new_room_id`) REFERENCES `rooms` (`id`) ON DELETE NO ACTION ON UPDATE CASCADE,
  CONSTRAINT `schedule_change_requests_ibfk_7` FOREIGN KEY (`new_time_slot_id`) REFERENCES `timeslots` (`id`) ON DELETE NO ACTION ON UPDATE CASCADE,
  CONSTRAINT `schedule_change_requests_ibfk_8` FOREIGN KEY (`new_teacher_id`) REFERENCES `teachers` (`id`) ON DELETE NO ACTION ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedule_change_requests`
--

LOCK TABLES `schedule_change_requests` WRITE;
/*!40000 ALTER TABLE `schedule_change_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `schedule_change_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule_generations`
--

DROP TABLE IF EXISTS `schedule_generations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `schedule_generations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `semester` varchar(50) DEFAULT NULL,
  `semester_id` int(11) DEFAULT NULL,
  `total_weeks` int(11) DEFAULT NULL,
  `days_per_week` int(11) DEFAULT NULL,
  `sessions_per_day` int(11) DEFAULT NULL,
  `session_duration` int(11) DEFAULT NULL,
  `generated_at` datetime DEFAULT NULL,
  `fitness_score` float DEFAULT NULL,
  `penalty_breakdown` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`penalty_breakdown`)),
  `raw_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`raw_json`)),
  `week_start` int(11) DEFAULT NULL,
  `week_end` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `semester_id` (`semester_id`),
  CONSTRAINT `schedule_generations_ibfk_1` FOREIGN KEY (`semester_id`) REFERENCES `semesters` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedule_generations`
--

LOCK TABLES `schedule_generations` WRITE;
/*!40000 ALTER TABLE `schedule_generations` DISABLE KEYS */;
/*!40000 ALTER TABLE `schedule_generations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule_instances`
--

DROP TABLE IF EXISTS `schedule_instances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `schedule_instances` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `schedule_id` int(11) NOT NULL COMMENT 'FK to schedules (pattern)',
  `date` date NOT NULL,
  `time_slot_id` int(11) DEFAULT NULL COMMENT 'Override time slot (if NULL, use pattern)',
  `room_id` int(11) DEFAULT NULL COMMENT 'Override room (if NULL, use pattern)',
  `teacher_id` int(11) DEFAULT NULL COMMENT 'Override teacher (if NULL, use pattern)',
  `status` enum('scheduled','cancelled','rescheduled','done','skipped') NOT NULL DEFAULT 'scheduled',
  `cancel_reason` text DEFAULT NULL,
  `replaced_by_instance_id` int(11) DEFAULT NULL COMMENT 'FK to new instance if rescheduled',
  `origin` enum('auto','manual') NOT NULL DEFAULT 'auto',
  `metadata` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`metadata`)),
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `schedule_instances_schedule_id_date` (`schedule_id`,`date`),
  KEY `time_slot_id` (`time_slot_id`),
  KEY `room_id` (`room_id`),
  KEY `teacher_id` (`teacher_id`),
  KEY `replaced_by_instance_id` (`replaced_by_instance_id`),
  CONSTRAINT `schedule_instances_ibfk_14` FOREIGN KEY (`schedule_id`) REFERENCES `schedules` (`id`) ON DELETE NO ACTION ON UPDATE CASCADE,
  CONSTRAINT `schedule_instances_ibfk_15` FOREIGN KEY (`time_slot_id`) REFERENCES `timeslots` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `schedule_instances_ibfk_16` FOREIGN KEY (`room_id`) REFERENCES `rooms` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `schedule_instances_ibfk_17` FOREIGN KEY (`teacher_id`) REFERENCES `teachers` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `schedule_instances_ibfk_18` FOREIGN KEY (`replaced_by_instance_id`) REFERENCES `schedule_instances` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=377 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedule_instances`
--

LOCK TABLES `schedule_instances` WRITE;
/*!40000 ALTER TABLE `schedule_instances` DISABLE KEYS */;
/*!40000 ALTER TABLE `schedule_instances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedules`
--

DROP TABLE IF EXISTS `schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `schedules` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `course_class_id` int(11) NOT NULL,
  `teacher_id` int(11) DEFAULT NULL,
  `day_id` int(11) NOT NULL,
  `room_id` int(11) NOT NULL,
  `time_slot_id` int(11) DEFAULT NULL,
  `scheduler` varchar(255) DEFAULT NULL,
  `num_of_period` int(11) DEFAULT 1,
  `generation_id` int(11) NOT NULL,
  `week_start` int(11) DEFAULT NULL,
  `week_end` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `schedules_generation_id_course_class_id_day_id_time_slot_id` (`generation_id`,`course_class_id`,`day_id`,`time_slot_id`),
  KEY `course_class_id` (`course_class_id`),
  KEY `teacher_id` (`teacher_id`),
  KEY `day_id` (`day_id`),
  KEY `room_id` (`room_id`),
  KEY `time_slot_id` (`time_slot_id`),
  CONSTRAINT `schedules_ibfk_31` FOREIGN KEY (`course_class_id`) REFERENCES `courseclasses` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `schedules_ibfk_32` FOREIGN KEY (`teacher_id`) REFERENCES `teachers` (`id`) ON DELETE NO ACTION ON UPDATE CASCADE,
  CONSTRAINT `schedules_ibfk_33` FOREIGN KEY (`day_id`) REFERENCES `days` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `schedules_ibfk_34` FOREIGN KEY (`room_id`) REFERENCES `rooms` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `schedules_ibfk_35` FOREIGN KEY (`time_slot_id`) REFERENCES `timeslots` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `schedules_ibfk_36` FOREIGN KEY (`generation_id`) REFERENCES `schedule_generations` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=119 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedules`
--

LOCK TABLES `schedules` WRITE;
/*!40000 ALTER TABLE `schedules` DISABLE KEYS */;
/*!40000 ALTER TABLE `schedules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `semesters`
--

DROP TABLE IF EXISTS `semesters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `semesters` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `AcademicYearsid` int(11) NOT NULL,
  `code` varchar(50) NOT NULL,
  `name` varchar(255) NOT NULL,
  `start` date NOT NULL,
  `end` date NOT NULL,
  `status` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  UNIQUE KEY `code_2` (`code`),
  UNIQUE KEY `code_3` (`code`),
  UNIQUE KEY `code_4` (`code`),
  UNIQUE KEY `code_5` (`code`),
  UNIQUE KEY `code_6` (`code`),
  UNIQUE KEY `code_7` (`code`),
  UNIQUE KEY `code_8` (`code`),
  KEY `AcademicYearsid` (`AcademicYearsid`),
  KEY `semesters__academic_yearsid` (`AcademicYearsid`),
  CONSTRAINT `semesters_ibfk_1` FOREIGN KEY (`AcademicYearsid`) REFERENCES `academicyears` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `semesters`
--

LOCK TABLES `semesters` WRITE;
/*!40000 ALTER TABLE `semesters` DISABLE KEYS */;
INSERT INTO `semesters` VALUES (1,1,'2025-HK1','Hß╗ìc kß╗│ 1 2025-2026','2025-09-01','2026-01-15','upcoming'),(2,1,'2026-HK2','Hß╗ìc kß╗│ 2 2025-2026','2026-02-01','2026-06-30','upcoming'),(3,2,'2024-HK1','Hß╗ìc kß╗│ 1 2024-2025','2024-09-01','2025-01-15','finished'),(4,2,'2025-HK2','Hß╗ìc kß╗│ 2 2024-2025','2025-02-01','2025-06-30','finished'),(5,3,'2023-HK1','Hß╗ìc kß╗│ 1 2023-2024','2023-09-01','2024-01-15','finished'),(6,3,'2024-HK2','Hß╗ìc kß╗│ 2 2023-2024','2024-02-01','2024-06-30','finished');
/*!40000 ALTER TABLE `semesters` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `students`
--

DROP TABLE IF EXISTS `students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `students` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `class_id` int(11) NOT NULL,
  `name` varchar(255) NOT NULL,
  `student_identifier` varchar(50) NOT NULL,
  `user_id` int(11) DEFAULT NULL,
  `date_of_birth` date DEFAULT NULL,
  `gender` varchar(20) DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  `phone` varchar(50) DEFAULT NULL,
  `id_number` varchar(100) DEFAULT NULL,
  `ethnicity` varchar(100) DEFAULT NULL,
  `religion` varchar(100) DEFAULT NULL,
  `place_of_birth` varchar(255) DEFAULT NULL,
  `nationality` varchar(100) DEFAULT 'Viß╗çt Nam',
  `email_personal` varchar(255) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `email_school` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `student_identifier` (`student_identifier`),
  UNIQUE KEY `student_identifier_2` (`student_identifier`),
  UNIQUE KEY `student_identifier_3` (`student_identifier`),
  UNIQUE KEY `student_identifier_4` (`student_identifier`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `class_id` (`class_id`),
  KEY `students_class_id` (`class_id`),
  CONSTRAINT `students_ibfk_1` FOREIGN KEY (`class_id`) REFERENCES `classes` (`id`) ON DELETE NO ACTION ON UPDATE CASCADE,
  CONSTRAINT `students_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `students`
--

LOCK TABLES `students` WRITE;
/*!40000 ALTER TABLE `students` DISABLE KEYS */;
INSERT INTO `students` VALUES (1,1,'Nguyß╗àn V─ân An','B21DCCN001',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'Viß╗çt Nam',NULL,NULL,NULL,'0000-00-00 00:00:00','0000-00-00 00:00:00'),(2,1,'Trß║ºn Thß╗ï B├¼nh','B21DCCN002',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'Viß╗çt Nam',NULL,NULL,NULL,'0000-00-00 00:00:00','0000-00-00 00:00:00'),(3,2,'L├¬ V─ân C╞░ß╗¥ngs','B21DCAT001',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'Viß╗çt Nam',NULL,NULL,NULL,'0000-00-00 00:00:00','0000-00-00 00:00:00');
/*!40000 ALTER TABLE `students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subjectrequiresequipment`
--

DROP TABLE IF EXISTS `subjectrequiresequipment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subjectrequiresequipment` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `subject_id` int(11) NOT NULL,
  `equipment_id` int(11) NOT NULL,
  `require_quantity_per_person` int(11) DEFAULT 1,
  `type` char(3) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `subject_id` (`subject_id`),
  KEY `equipment_id` (`equipment_id`),
  KEY `subjectrequiresequipment_subject_id` (`subject_id`),
  KEY `subjectrequiresequipment_equipment_id` (`equipment_id`),
  KEY `subjectrequiresequipment_subject_id_type` (`subject_id`,`type`),
  CONSTRAINT `subjectrequiresequipment_ibfk_5` FOREIGN KEY (`subject_id`) REFERENCES `subjects` (`id`),
  CONSTRAINT `subjectrequiresequipment_ibfk_6` FOREIGN KEY (`equipment_id`) REFERENCES `equipments` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subjectrequiresequipment`
--

LOCK TABLES `subjectrequiresequipment` WRITE;
/*!40000 ALTER TABLE `subjectrequiresequipment` DISABLE KEYS */;
/*!40000 ALTER TABLE `subjectrequiresequipment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subjects`
--

DROP TABLE IF EXISTS `subjects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subjects` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `training_type_id` int(11) NOT NULL,
  `code` varchar(50) NOT NULL,
  `credits` int(11) DEFAULT 0,
  `theory_hours` int(11) DEFAULT 0,
  `self_study_hours` int(11) DEFAULT 0,
  `practice_hours` int(11) DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  UNIQUE KEY `code_2` (`code`),
  UNIQUE KEY `code_3` (`code`),
  UNIQUE KEY `code_4` (`code`),
  UNIQUE KEY `code_5` (`code`),
  UNIQUE KEY `code_6` (`code`),
  UNIQUE KEY `code_7` (`code`),
  UNIQUE KEY `code_8` (`code`),
  KEY `training_type_id` (`training_type_id`),
  KEY `subjects_training_type_id` (`training_type_id`),
  CONSTRAINT `subjects_ibfk_1` FOREIGN KEY (`training_type_id`) REFERENCES `trainingtypes` (`id`) ON DELETE NO ACTION ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subjects`
--

LOCK TABLES `subjects` WRITE;
/*!40000 ALTER TABLE `subjects` DISABLE KEYS */;
INSERT INTO `subjects` VALUES (1,'Lß║¡p tr├¼nh C╞í bß║ún',1,'MH001',1,0,0,0),(2,'C╞í sß╗ƒ dß╗» liß╗çu',1,'MH002',1,0,0,0),(3,'Tr├¡ tuß╗ç nh├ón tß║ío',1,'MH003',1,0,0,0);
/*!40000 ALTER TABLE `subjects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_backups`
--

DROP TABLE IF EXISTS `system_backups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `system_backups` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `filename` varchar(255) NOT NULL,
  `filepath` varchar(500) NOT NULL,
  `file_size` varchar(50) DEFAULT NULL,
  `storage_type` enum('local','cloud') DEFAULT 'local',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_backups`
--

LOCK TABLES `system_backups` WRITE;
/*!40000 ALTER TABLE `system_backups` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_backups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `systemconfigs`
--

DROP TABLE IF EXISTS `systemconfigs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `systemconfigs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `value` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `systemconfigs`
--

LOCK TABLES `systemconfigs` WRITE;
/*!40000 ALTER TABLE `systemconfigs` DISABLE KEYS */;
/*!40000 ALTER TABLE `systemconfigs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teachers`
--

DROP TABLE IF EXISTS `teachers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `teachers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `teacher_identifier` varchar(50) NOT NULL,
  `faculty_id` int(11) NOT NULL,
  `academic_title` varchar(255) DEFAULT NULL,
  `date_of_birth` date DEFAULT NULL,
  `gender` varchar(20) DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  `phone` varchar(50) DEFAULT NULL,
  `id_number` varchar(100) DEFAULT NULL,
  `ethnicity` varchar(100) DEFAULT NULL,
  `religion` varchar(100) DEFAULT NULL,
  `place_of_birth` varchar(255) DEFAULT NULL,
  `nationality` varchar(100) DEFAULT 'Viß╗çt Nam',
  `email_school` varchar(255) DEFAULT NULL,
  `email_personal` varchar(255) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `user_id` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `teacher_identifier` (`teacher_identifier`),
  UNIQUE KEY `teacher_identifier_2` (`teacher_identifier`),
  UNIQUE KEY `teacher_identifier_3` (`teacher_identifier`),
  UNIQUE KEY `teacher_identifier_4` (`teacher_identifier`),
  UNIQUE KEY `teacher_identifier_5` (`teacher_identifier`),
  UNIQUE KEY `teacher_identifier_6` (`teacher_identifier`),
  UNIQUE KEY `teacher_identifier_7` (`teacher_identifier`),
  UNIQUE KEY `teacher_identifier_8` (`teacher_identifier`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `faculty_id` (`faculty_id`),
  KEY `teachers_faculty_id` (`faculty_id`),
  CONSTRAINT `teachers_ibfk_7` FOREIGN KEY (`faculty_id`) REFERENCES `faculty` (`id`) ON DELETE NO ACTION ON UPDATE CASCADE,
  CONSTRAINT `teachers_ibfk_8` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teachers`
--

LOCK TABLES `teachers` WRITE;
/*!40000 ALTER TABLE `teachers` DISABLE KEYS */;
INSERT INTO `teachers` VALUES (1,'Nguyß╗àn V─ân A','GV001',1,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'Viß╗çt Nam',NULL,NULL,NULL,NULL,'0000-00-00 00:00:00','0000-00-00 00:00:00'),(2,'Trß║ºn Thß╗ï B','GV002',2,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'Viß╗çt Nam',NULL,NULL,NULL,NULL,'0000-00-00 00:00:00','0000-00-00 00:00:00'),(3,'L├¬ V─ân C','GV003',3,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'Viß╗çt Nam',NULL,NULL,NULL,NULL,'0000-00-00 00:00:00','0000-00-00 00:00:00');
/*!40000 ALTER TABLE `teachers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teachings`
--

DROP TABLE IF EXISTS `teachings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `teachings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `course_class_id` int(11) NOT NULL,
  `teacher_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `course_class_id` (`course_class_id`),
  KEY `teacher_id` (`teacher_id`),
  KEY `teachings_course_class_id` (`course_class_id`),
  KEY `teachings_teacher_id` (`teacher_id`),
  CONSTRAINT `teachings_ibfk_51` FOREIGN KEY (`course_class_id`) REFERENCES `courseclasses` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `teachings_ibfk_52` FOREIGN KEY (`teacher_id`) REFERENCES `teachers` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teachings`
--

LOCK TABLES `teachings` WRITE;
/*!40000 ALTER TABLE `teachings` DISABLE KEYS */;
/*!40000 ALTER TABLE `teachings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `timeslots`
--

DROP TABLE IF EXISTS `timeslots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `timeslots` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `idx` int(11) NOT NULL,
  `start_hour` int(11) NOT NULL,
  `start_min` int(11) NOT NULL,
  `end_hour` int(11) NOT NULL,
  `end_min` int(11) NOT NULL,
  `is_break` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `timeslots`
--

LOCK TABLES `timeslots` WRITE;
/*!40000 ALTER TABLE `timeslots` DISABLE KEYS */;
INSERT INTO `timeslots` VALUES (1,'Tiß║┐t 1',1,7,0,7,50,0),(2,'Tiß║┐t 2',2,8,0,8,50,0),(3,'Tiß║┐t 3',3,9,0,9,50,0),(4,'Tiß║┐t 4',4,10,0,10,50,0),(5,'Tiß║┐t 5',5,11,0,11,50,0),(6,'Tiß║┐t 6',6,12,0,12,50,1),(7,'Tiß║┐t 7',7,13,0,13,50,0),(8,'Tiß║┐t 8',8,14,0,14,50,0),(9,'Tiß║┐t 9',9,15,0,15,50,0),(10,'Tiß║┐t 10',10,16,0,16,50,0),(11,'Tiß║┐t 11',11,17,0,17,50,0),(12,'Tiß║┐t 12',12,18,0,18,50,0),(13,'Tiß║┐t 13',13,19,0,19,50,0),(14,'Tiß║┐t 14',14,20,0,20,50,0);
/*!40000 ALTER TABLE `timeslots` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trainingtypes`
--

DROP TABLE IF EXISTS `trainingtypes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `trainingtypes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `code` varchar(50) NOT NULL,
  `name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  UNIQUE KEY `code_2` (`code`),
  UNIQUE KEY `code_3` (`code`),
  UNIQUE KEY `code_4` (`code`),
  UNIQUE KEY `code_5` (`code`),
  UNIQUE KEY `code_6` (`code`),
  UNIQUE KEY `code_7` (`code`),
  UNIQUE KEY `code_8` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trainingtypes`
--

LOCK TABLES `trainingtypes` WRITE;
/*!40000 ALTER TABLE `trainingtypes` DISABLE KEYS */;
INSERT INTO `trainingtypes` VALUES (1,'CQ','Ch├¡nh quy','─É├áo tß║ío ch├¡nh quy tß║¡p trung'),(2,'VB2','V─ân bß║▒ng 2','─É├áo tß║ío v─ân bß║▒ng 2'),(3,'TX','Tß╗½ xa','─É├áo tß║ío tß╗½ xa');
/*!40000 ALTER TABLE `trainingtypes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `username_2` (`username`),
  UNIQUE KEY `username_3` (`username`),
  UNIQUE KEY `username_4` (`username`),
  UNIQUE KEY `username_5` (`username`),
  UNIQUE KEY `username_6` (`username`),
  UNIQUE KEY `username_7` (`username`),
  UNIQUE KEY `username_8` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'admin','$2b$10$UeuaTxM8s3BvisLYv1FrPOvTgLWq9agcyCw3wx9BoSRfVQbM74mv2','admin'),(2,'student','$2b$10$94GkiGkFFjME/I0jHt.BjOF6KhxB.TBHEiTlieFQXEmTrF2WbloTG','student'),(3,'teacher','$2b$10$.UTu/1KReX2/sCoAcQE/KeHO4jWmI7XsyT.rZvQCw1uQyoALYsGf2','teacher'),(4,'admin1@gmail.com','$2b$10$XbMAgBEBqmM8V2xqoIiRf.j707zEBqIDN5yP3GFya6zBDAXC9ZgEW','admin'),(5,'student1@gmail.com','$2b$10$kv/Wk/zf0.ROJxgMPBOrp.1NjUt5cqIq1dfEf8dWMdl4jqUKJIKf.','student'),(6,'teacher1@gmail.com','$2b$10$.oiWW3/9iZtcpEnVvFL9het1kUT7.fS2r01IEnQ5tcwh15gN9Lfgy','teacher');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-02 14:22:47
